<style>
    @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
</style>

<style>
    .container {
        font-family: 'Open Sans', sans-serif;
    }
    .done {
        text-decoration: line-through;
        color : #999999;
    }
    .container {
        margin-top: 200px;
        width: 360px;
    }
    
    .bottom-offset{
        margin-bottom: 20px;
    }

    .editing, .edit-box {
        display: none;
    }

    .trash:hover, .edit:hover {
        cursor: pointer;
    }

    .title {
        background-color: #3498db;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;
    }

    .title h1 {
        font-size: 14px;
        padding: 10px;
    }

    .action {
        display: none;
        position: absolute;
        right: 0;
    }

    .showBtns {
        display: inline-block;
        position: absolute;
        right: 15;
    }

    .item {
        position: relative;
    }

    .edit-box {
        display: none;
    }

    .editing-box {
        display: block;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid #3498db !important;
        border-radius: 0;
        margin-bottom: 10px;
        width: 100%;
    }
</style>

<div class="container">
    <div class="bottom-offset">
        <div class='add'></div>
        <div class='title'><h1>Let's do things</h1></div>
        <input type="text" class="form-control" placeholder="do what?" autofocus #newtodo (keyup)="add($event,newtodo)"/>
    </div>
    <div *foreach="#todo in todoStore.todoList" class='item' (mouseenter)="showAction(todo)" (mouseleave)="removeAction()">
        <div [class.editing] = "editing(todo)">
           <span [class.done]="todo.done" (dblclick) ="editTodo($event,todo)">{{todo.text}}</span>

            <div class='action' [class.showBtns]="isCurrentTodo(todo)">
                <div class="fa fa-check edit" (click)="toggleTodoState(todo)"></div>
                <div class="fa fa-trash-o trash" (click)="removeTodo(todo)"></div>
            </div>
        </div>
        <input type="text" [class.editing-box]="editing(todo)" class='edit-box' [value]="todo.text" (keyup)="finishedEditing($event, todo)" (focusout)="finishedEditing($event, todo)"/>
    </div>
</div>